.container h1 {
  text-transform: capitalize;
}

.container a {
  color: black;
  padding: 6px;
}
.container a:hover {
  color: blue;
}
.container p {
  padding: 6px;
}

.body {
  margin-top: 30px;
  font-size: 22px;
  padding: 10px;
}

.box {
  width: 200px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid #777;
}
